<html>
<head>
  <title>{% block title %}Zirkuszelt{% endblock %}</title>
  <style>
    body {
      font-family: Inter, Twemoji, "Apple Color Emoji", "Segoe UI Emoji", Arial, Helvetica, Sans-Serif, "Noto Color Emoji";
      background: rgba(0, 0, 0, 0) url("https://dev.zirkuszelt.org/themes/zirkuszelt/img/backgrounds/klimacamp.jpg") repeat fixed center center / cover;
      min-height: 100vh;
    }

    * {
      box-sizing: border-box;
    }

    small {
      opacity: 0.9;
      font-size: 0.8em;
    }

    #content {
      display: flex;
    }

    .modal {
      margin: 100px auto auto;
      border-radius: 4px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.33);
      display: flex;
      position: relative;
    }

    .modal--blur {
      position: absolute;
      inset: 0px;
      filter: blur(40px);
      background: rgba(0, 0, 0, 0) url("https://dev.zirkuszelt.org/themes/zirkuszelt/img/backgrounds/klimacamp.jpg") repeat fixed center center / cover;
    }

    .modal--content {
      display: flex;
      z-index: 1;
      background: rgba(255, 255, 255, 0.59) none repeat scroll 0% 0%;
      border-radius: 8px;
    }

    .modal--header {
      width: 206px;
      padding: 25px;
      display: flex;
    }

    .modal--logo {
      width: 100%;
    }

    .modal--body {
      width: 500px;
      font-size: 1.2rem;
      color: #61708b;
      background-color: #fff;
      border-radius: 0 4px 4px 0;
      padding: 25px 60px;
    }
  </style>
</head>

<body>
  <section id="content">
    {% block content %}
      <p>Nothing to see here!</p>
    {% endblock %}
  </section>
</body>
</html>
