{% extends 'layout.html' %}

{% block title %}Zirkuszelt Username{% endblock %}

{% block content %}
<div class="modal">
  <div class="modal--blur"></div>

  <div class="modal--content">
    <div class="modal--header">
      <img class="modal--logo" src="https://dev.zirkuszelt.org/themes/zirkuszelt/img/logos/zirkuszelt.svg" alt="Zirkuszelt">
    </div>

    <div class="modal--body">
      <form method="post" action="/interaction/{{ grant }}">
        <label>
          <p>
            Mit welchen Namen möchtest du dich anmelden?<br>
            <small>What nickname would you like to choose?</small>
          </p>
          <input type="text" name="username" placeholder="Name..." required />
        </label>
        <input type="submit" value="Weiter">
      </form>
    </div>
  </div>
</div>
{% endblock %}
